# Ignore folders.
#.storage
.cloud

secrets.yaml
#google_calendars.yaml
#known_devices.yaml

home-assistant.log
home-assistant_v2.db
home-assistant.log.1
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.google.token
.storage/evohome
.storage/auth
.storage/cloud
.storage/core.config
.storage/auth_module.totp
.storage/auth_provider.homeassistant
.storage/core.config_entries
.storage/core.entity_registry
.storage/core.restore_state
.storage/core.uuid
.storage/frontend.user_data*
.storage/hacs/
.storage/hassio
.storage/http
.storage/mobile_app
.storage/zha.storage
zigbee.db
custom_components/*
tts/*
